
/* Post title
 * ------------------------------------------------------------- */

.entry-title {
	
	@include title-font();
	@include font-size(1.875);
	text-transform: uppercase;
	margin-bottom: 0.5em;
	line-height: 1;
	
	a {
		text-decoration: none;
		color: $col-text;
	}
		
	.post-single & {
		margin-bottom: 0.5em;	
	}
	
	&.no-title,
	&.no-title a { color: $col-text-light; }
}

.title-meta {
	display: block;
	@include font-size(0.875);
	margin-bottom: 0.3em;
}

@media screen and ( min-width: 600px ) {
	
	.entry-title {
		@include font-size(2.25);
	}
}

@media screen and ( min-width: 800px ) {
	
	.entry-title {
		@include font-size(3);
	}
}

/* Post header meta
 * ------------------------------------------------------------- */

.entry-meta span {

	font-family: $font-main;
	@include font-size(0.875);
	letter-spacing: 1px;
	text-transform: uppercase;

	&:after {
		content: "\2022";
	}
		
	&.edit-link:after,
	&.post-type:after,
	&:last-of-type:after { 
		content: ""; 
	}

	a {
		text-decoration: none;
		color: $col-text;
		
		&:hover {
			color: $col-text-reverse;
		}
	}		
}

.post-type {
	@include font-size(0.875);
	text-transform: uppercase;
	margin-right: 0.5em;
	padding: 0.3em 0.5em;
	background: $col-link-alt-bg;	
	color: lighten($col-text-light, 50%) !important;
}

/* Page meta footer
 * ------------------------------------------------------------- */

.entry-footer .entry-meta {
	padding: 1em 0;
	width: 100%;
	float: left;
	border-top: 1px solid $col-border;
	
	span:after {
		content: '';
	}
}

.entry-meta p {
	clear: both;
	float: left;
	width: 100%;
	//padding-top: 0.7em;
}

.meta-title,
.meta-links {
	display: block;
}

.meta-title {
	font-weight: 800;
	letter-spacing: 1px;
}

.meta-links a {
	text-transform: none;
	letter-spacing: 0;
	border-bottom: none;
}

.author-description {

	h3 {
		@include title-font();
		@include font-size(1);
		text-transform: uppercase;
		color: $col-text;		
	}
	
	h3 a {
		border-bottom: none;
	}
}

