
.sidebar {
	padding: 0.5em 0 3.5em 0;
}

.sidebar-primary {
	width: 100%;
	float: left;
	background: $col-primary-widgets-bg;
}


.sidebar-secondary {
	width: 100%;
	float: left;
	background: $col-secondary-widgets-bg;
}


@media screen and ( min-width: 800px ) {
	
	.sidebar-primary {
		
		.widget {
			float: left;
			width: 30%;
			margin-right: 5%;
			
			&:nth-of-type(3n) {
				margin-right: 0;
			}
			
			&:nth-of-type(3n+4) {
				clear: left;
			}
		}
	}
	
	.sidebar-secondary {
		
		.widget {
			float: left;
		}
		
		.widget:nth-of-type(odd) {
			width: 65%;
			margin-right: 5%;
		}
		
		.widget:nth-of-type(even) {
			width: 30%;	
		}
	}
	
}