
.menu-toggle {
	position: absolute;
	top: -2.6em;
	right: 0;

	cursor: pointer;
	display: inline-block;
	@include font-size(0.875);
	font-weight: 600;
	margin: 0;
	background: none;
	border: none;
	color: $col-text;
}

.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
	background: $col-theme;
	border: none;
	color: $col-text-reverse;
	
	&:after {
		color: $col-text-reverse;
	}
}

.menu-toggle:after {
	content: '\f431';
	position: relative;
	top: -0.1em;
	display: inline-block;
	font-family: Genericons;
	@include font-size(1);
	vertical-align: middle;
	color: $col-text;
}

.toggled-on .menu-toggle:after {
	content: '\f432'; 
}

@media screen and (max-width: 799px) {
	
	.nav-menu,
	.toggled-on .children,
	.toggled-on .sub-menu {
		display: none;
	}
	
	.toggled-on .nav-menu {
		display: block;
		width: 100%;
		padding: 1em;
		background: $col-primary-widgets-bg;
	}

	.toggled-on li {
		display: block;
		border-bottom: 1px solid darken($col-border-dark, 10%);
		
		&:last-of-type {
			border-bottom: none;
		}
	}
	
	.toggled-on li a {
		display: block;
		padding-right: 0;
		color: $col-link-text;
	}
	
	/* If a Genericon is used in a menu */
	.toggled-on .nav-menu .genericon {
		a {
			@include font-size(1);
		}
	
		&:before {
			float: left;
			margin: 0.7em 0 0 0.5em;
			padding-right: 0.5em;
			letter-spacing: 0;
		}
	}
}

@media screen and (min-width: 800px) {

	.menu-toggle {
		display: none;
	}
}