
/* Blockquotes
 * ------------------------------------------------------------- */
@import "blockquotes";

/* Lists
 * ------------------------------------------------------------- */
@import "lists";

/* Tables
 * ------------------------------------------------------------- */
@import "tables";

hr {
	background-color: $col-border;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}