
// Background --------------------------------------

$col-body-bg: #fff;			// white
$col-page-bg: #fff;			// white
$col-selection-bg: #5b5b6e;	// blue

$col-sticky-bg: #e5e4de;			// olive grey
$col-comments-bg: #e5e4de;			// olive grey

$col-primary-widgets-bg: #d8d7d0;	// medium grey 
$col-secondary-widgets-bg: #f8f7f0;	// darker grey

// Borders --------------------------------------

$col-border: #ddd;			// light grey
$col-border-dark: #bcbbb5; 	// darker grey

// Text --------------------------------------

$col-text: #333;			// charcoal
$col-text-light: #777;	// light grey
$col-text-reverse: #fff; 	// white
$col-text-footer: #595959;	// grey


// Links --------------------------------------

$col-link-text: #333; 				// charcoal
$col-link-text-reverse: #fff; 		// white
$col-link-text-focus: #e77a4a; 		// orange
$col-link-text-hover: #2E456D; 		// blue

$col-link-alt-bg: #93928d; 			// medium grey
$col-link-alt-text: #333; 			// charcoal
$col-link-alt-bg-hover: #93928d; 	// medium grey
$col-link-alt-text-hover: #333; 	// charcoal

$col-link-widget-text: #2e3b67;

// Buttons --------------------------------------

$col-button-bg: #3e3a3f; 			// black
$col-button-text: #fff; 			// white
$col-button-text-reverse: #3E3A3F; 	// black

// Navigation --------------------------------------

$col-navigation-bg: #f7f5e7;

// Special things --------------------------------------

$col-post-icon: #c3c0ab;	// light grey
$col-alert: #e77a4a; 		// orange
$col-insert-bg: #fff9c0;	// yellow

$col-code-bg: #f8f7f0;		// cream
$col-code-text: #777;		// grey

// Theme colour --------------------------------------

$col-theme: #2E456D; 		// blue